<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200932868953-bt8c2bd1cs22unqp8hkdv1r6ankoqasi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200932868953-bt8c2bd1cs22unqp8hkdv1r6ankoqasi</string>
	<key>API_KEY</key>
	<string>AIzaSyDVaRAXVES-sdcsVmMBqe9v7593BJhhABs</string>
	<key>GCM_SENDER_ID</key>
	<string>200932868953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interview</string>
	<key>PROJECT_ID</key>
	<string>test-interview-1ec73</string>
	<key>STORAGE_BUCKET</key>
	<string>test-interview-1ec73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200932868953:ios:204e86346f5319d56d8248</string>
</dict>
</plist>